/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


body{
  margin:0;
  background-color: #f8f8fa;
}
nav{
  background-color:#4617fe;
  color: white;
  padding: 1% 5%;
  padding-right: 2%;
  padding-top: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

}

.nav-con{
  display: flex;
  justify-content: space-between;
  background-color: #4617fe;
  height: 410px;
  padding: 0% 5%;
  padding-right: 0%;
}

.nav-items{
  display: flex;
  gap:20px;
}

.nav-item{
  font-family: "Poppins", sans-serif;
  padding-right: 20px;
  font-weight: 100;
  font-size: .8rem;
}

.nav-item-active{
  font-family: "Poppins";
  height:20px;
  padding: 6px;
  border-radius: 3px;
  color: #4617fe;
  font-weight: 100;
  font-size: .8rem;
  position: relative;
  bottom:5px;
  background-color: white;
}
.logo{
  position:relative;
  bottom:6px;

}
.htext{
  font-family: "Poppins", sans-serif;
  padding-top: 3%;
}

.htext h2{
  font-weight: 700;
  font-size: 2rem;
  color: white;
  letter-spacing: .1rem;
}

.htext p{
  font-weight: 100;
  color: white;
}

.h-img{
  display: flex;
  filter:drop-shadow(3px 5px 2px rgb(0 0 0 / .2));
  position: relative;
  
}
.comp{
  display: flex;
  justify-content: flex-start;
  gap:30px;
  padding: 1% 5%;

}


.comp a{
  font-size: 1.3rem;
  font-family: "Righteous";
  text-decoration: none;
  color: black;
  margin-top: 10px;
  font-weight: 500;

}
.api{
  padding: 4% 5.3%;
}

.api-h{

  padding-bottom: 3%;
}

.boxs{
  display: flex;
  gap:30px;
}

.box{
  font-family: "Poppins";
  width:200px;
  height: 220px;
  border-radius: 8px;
}

.box-active{
  font-family: "Poppins";
  width:230px;
  height: 260px;
  background-color: white;
  border-radius: 8px;
  color:#4617fe;
  filter:drop-shadow(3px 5px 2px rgb(0 0 0 / .2));
}

.box-logo
{
  position: relative;
  left:20px;
  top:30px;
}

.box-head
{
  position: relative;
  left:20px;
  top:30px;
}


.box-head-active
{
  position: relative;
  left:20px;
  top:30px;

}
.box-body
{
  position: relative;
  left:20px;
  top:30px;
  font-size: .9rem;
  color: black;
}

h1{
  font-family: "Poppins";
  font-weight: bold;
}

.blog-heading{
  padding: 4% 5.3%;
  display: flex;
  justify-content: space-between;
}

.b-box{
  /* padding: 0% 5.3%; */
  display: flex;
  gap:150px;
  padding: 1% 5%;
  padding-left: 6%;
}

.arrow{
  width:40px;
  height: 40px;
  background-color: #4617fe;
  border-radius: 100%;

  display: flex;
  align-items: center;
  position: relative;
  top:100px;
}
.arrowhead{
  font-family: "Poppins";
  font-weight: 800;
  color: white;
  position: relative;
  /* bottom:18px; */
  left:14px;
}

.expand-articles{
  font-family: "Poppins";
  font-size: 1rem;
  color: #4617fe;
  height: 20px;
  position: relative;
  top:50px;

}

.b-bx{
  width: 580px;
  height: 287px;
  background-color: white;
  border-radius: 8px;
  color:#4617fe;
  filter:drop-shadow(3px 5px 2px rgb(0 0 0 / .2));
  font-family: "Poppins";
  display: flex;
  margin-bottom:10%;

}

.b-img{
  position: relative;
  right:30px;
}

.b-con{
  position: relative;
  left:30px;
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  
}

.b-bt{
  color: black;
  max-width: 250px;
  
}

.b-bx-bt-img{
  display: inline;
  border-radius: 100%;
  outline:5px solid white;
  outline-offset: -2px;
  position: relative;
  top:35px;
}

.b-auth{
  position: relative;
  left:80px;
  bottom: 15px;
  color: black;
  font-size: .9rem;
}

h6{
  font-family: "Poppins";
  font-weight: bold;
  color: #4617fe;
  position: relative;
  top:10px;
  display: inline;
}
small
{
  position: relative;
  bottom: 10px;
}



.q-sec{
  /* padding: 0% 5.3%; */
  padding-left: 5%;
  background-color: #e9edff;
  display: flex;
  justify-content: space-between;
}

.q-img{
  height: 324px;
  /* position: relative;
  left:125px; */
}

.q-con h2{
  font-family: "Poppins";
  font-weight: 900 !important;
  font-size: 2rem;;
}

.q-hed{
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600 !important;
  position: relative;
  top:8px;
}

.q-con h4{
  font-family: "Poppins";
  font-weight: 300;
  font-size: .8rem;
}

.q-con button{
  font-family: "Poppins";
  background-color: #4617fe;
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 1% 1%;
  margin-top: 2%;
}

.load{
  /* padding: 3% 5.3%; */
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}

.email{

  padding: 2% 0%;
  width:400px;
  height: 50px;
}


.email form button{
  font-family: "Poppins";
  background-color: #4617fe;
  color: white;
  border-style: none;
  border-radius: 18px;
  padding: 1.3% 4%;
  position: relative;
  bottom:34px;
  left: 300px;
}

.download{
  position: relative;
  top:10px;
}

.download span{
  font-family: "Poppins";
  font-weight: 500;
}



.email form input{
  background-color: #e9edff;
  border-style: none;
  width: 400px;
  padding: 3% 0%;
  padding-left: 2%;
  border-radius: 20px;
}



footer {
  padding: 5% 5.3%;
  background-color: #4617fe;
  color: white;
  display: flex;
  justify-content: space-between;
}
.list-items1{
  font-family: "Poppins";
  list-style: none;
  display: inline;
  font-family: "Poppins";
  font-weight: 300;
  font-size: .8rem;
  padding: 0px 20px; 
}
.list .list-items1::after {
  
  content:'|';
  position:relative;
  left : 23px;
}
.left{
  width:500px;
}

.list{
  position: relative;
  right:60px;
  display: flex;
  justify-content: center;
}

.list-items
{
  font-family: "Poppins";
  list-style: none;
  display: flex;
  font-family: "Poppins";
  font-weight: 300;
  font-size: .8rem;
  padding: 0px 20px;
  
}
.right{
  display: flex;
  flex-direction: column;
}

.right-logo{
  /* position: relative;
  left:260px; */
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-left: 20px;
}

.right-bottom{
  /* position: relative; */
  /* left:115px; */
  display: flex;;
  padding: 0;
}


.right-bottom .list-items1::after {
  content:'|';
  position:relative;
  left : 23px;
}



@media screen and (max-width:976px) {
  .boxs{
    flex-direction: column;
    align-items: center;
  }
  .nav-con{
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    height: 810px;
  }
  .comp{
    padding-top: 5%;
    justify-content: center;
  }
  .api-h{
    text-align: center;
  }
  .b-box{
    flex-direction: column;
    gap:30px;
    align-items: center;
  }

  .q-sec{
    flex-direction: column-reverse;
    align-items: center;
  }
  .q-con{
    text-align: center;
    padding-bottom: 4%;
  }
  .load{
    flex-direction: column;
    align-items: center;
    gap:30px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-heading{
    padding-top: 100px;
    padding-bottom: 7%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }



}
@media screen and (max-width:768px) {
  nav{
    flex-direction: column-reverse;
    align-items: center;
    gap:60px;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-logo{
  }
}

@media screen and (max-width:550px) {
  nav{
    flex-direction: column-reverse;
    align-items: center;
    gap:60px;
  }

  .nav-items{
    gap:10px;
  }
  .logo{
    padding-top:30px;
  }
}


